<nav role="navigation" aria-label="Ana menü">
    <div class="logo">
      <a href="index.html">Harabi & Zaga</a>
    </div>
    <div class="menu-toggle" id="menu-toggle" aria-label="Menüyü Ac/Kapat" role="button" tabindex="0">☰</div>
    <ul id="nav-links" class="nav-links">
      <li><a href="index.html#home">Anasayfa</a></li>
      <li><a href="index.html#about">Hakkımızda</a></li>
      <li><a href="menu.html">Menü</a></li>
      <li><a href="index.html#contact">İletisim</a></li>
    </ul>
  </nav>
  